.productList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  height: auto;
}

.product img {
  width:100%;  
  height: auto; 
}

.product h3 {
  width: 100%; /* Ensure the title takes up the full width */
  text-align: center; /* Optional: center the title */
  overflow: hidden; /* Optional: prevents title overflow */
  text-overflow: ellipsis; /* Optional: adds ellipsis if title is too long */
}
